@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sun {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    box-shadow: 0px 1px 15px 5px #fda085;
  }

  .moon {
    background-color: #f5f4f6;
    box-shadow: -0 0 2em #f5f4f6, 0 0 1.2em #f5f4f6;
  }

  .bg-primary {
    @apply bg-[#CAE4F5] dark:bg-[#151E27];
  }

  .bg-background {
    @apply bg-white dark:bg-[#0E141B];
  }

  .over {
    @apply outline outline-green-300 dark:outline-blue-500;
  }

  .unLine {
    @apply hover:underline-offset-8 hover:underline;
  }

  .ts-color {
    @apply transition-colors ease-in-out duration-1000;
  }

  .text-primary {
    @apply text-slate-500 dark:text-neutral-200;
  }

  .text-background {
    @apply text-black dark:text-white;
  }
}

@layer base {
  body {
    @apply bg-background h-full overflow-x-hidden;
  }

  footer {
    @apply text-gray-600 bg-[#C8E3F4] dark:bg-[#192129] dark:text-white;
  }
}

@layer utilities {
  .bg-growing-underline {
    background-size: 0 0.2em;
    background-position: 0 88%;

    @apply bg-no-repeat transition-all duration-200;
  }
  .bg-growing-underline:hover {
    background-size: 100% 100%;
  }
  .bg-growing-underline:focus {
    background-size: 100% 100%;
  }
  .gradient {
    @apply bg-gradient-to-r from-cyan-400 to-green-400 dark:from-green-300  dark:to-blue-400 bg-growing-underline;
  }
}
